body {
    min-height:         100vh;
    padding:            0;
    margin:             0;
    display:            grid;
    grid-template-rows: auto 1fr auto;
    font-family:        var(--font-supreme-light), system-ui, -apple-system, sans-serif;    
}

header {
    min-height:         1rem;
}

footer {
    min-height:         1rem;
}

.content {
    padding-left:       25rem;
    padding-right:      25rem;
    padding-top:        1rem;
    padding-bottom:     1rem;
}
