
body {
    min-height:         100vh;
    margin:             0;
    display:            grid;
    grid-template-rows: auto 1fr auto;
    font-family:        var(--font-supreme-light), system-ui, -apple-system, sans-serif;    
}

header {
    min-height:         50px;
    background:       rgb(0, 134, 134);
}

footer {
    min-height:         25px;
    background:       rgb(214, 214, 214);
}

h1,
h2 {
    text-align:         center;
}

.content {
    padding-left:       50px;
    padding-right:      50px;
}