.info-figure {
    float:                  right; 
    margin:                 0; 
    padding-left:           1.5rem;
    padding-bottom:         1.5rem;
}

/***** Additional options for Responsive Web Design *****/

@media screen and (max-width: 1080px) {

    .info-figure {
        float:                  none;
        text-align:             center;
        display:                block; 
        padding-left:           0;
    }      
}