---
import Layout from "../layouts/layout.astro";

import * as FrontMatter from "../components/frontmatter.md";
---

<Layout title={FrontMatter.frontmatter.title} description={FrontMatter.frontmatter.description}>

    <h2>{FrontMatter.frontmatter.description}</h2>

    <FrontMatter.Content />

</Layout>