---
import Disclaimer from '../components/md/disclaimer.md';

interface Props {
  colorLightBlue: string;
  colorMediumBlue: string;
  colorAnthracite: string;
  colorOrange: string;
}
const { colorLightBlue, colorMediumBlue, colorAnthracite, colorOrange } = Astro.props;
---

<!-- CSS -------------------------------------------------------- -->
<!-- Make it global to also have it applied to included components -->
<style is:global define:vars={{ colorLightBlue, colorMediumBlue, colorAnthracite, colorOrange }}> 

    footer {
        display:                flex;
        justify-content:        center;
        align-items:            center;        
        position:               relative;
        margin:                 0;
        padding:                0;
        background-color:       var(--colorAnthracite);
        width:                  100%;
        text-align:             center;
    }

    .miscLinks {
        display:                flex;
        float:                  right;
        position:               absolute;
        bottom:                 2rem;
        right:                  3rem;
        gap:                    1rem;
    }

    .miscLinks a {
        font-size:              1rem;
        color:                  black;
        background-color:       white;
        text-decoration:        none;
        transition-property:    background-color; 
        transition-duration:    0.5s;        
    }

    .miscLinks a:hover {
        color:                  black;
        background-color:       var(--colorLightBlue);
    }  

    .miscLinks a:visited {
        color:                  black;
    }      
    
    .contributelink {
        display:                inline-block;
        padding:                0.25rem;
        padding-left:           1.5rem;
        background:             url('../assets/logos/logo_github.svg');
        background-repeat:      no-repeat;
        background-position:    0.25rem center;
        background-size:        1rem 1rem;
    }

    .shoplink {
        display:                inline-block;
        padding:                0.25rem;
        padding-left:           1.5rem;
        background:             url('../assets/logos/logo_bw-lions.svg');
        background-repeat:      no-repeat;
        background-position:    0.25rem center;
        background-size:        1rem 1rem;
    }  

    .disclaimer {
        font-size:              0.8rem;
        color:                  white;
        padding-bottom:         1rem;
    }

    .disclaimer a {
        color:                  white;
    }

    .disclaimer a:hover {
        color:                  var(--colorOrange);
    }

    .banner {
        display:                flex;
        width:                  100%;
        height:                 auto;
        margin:                 0;
        padding:                0;
        margin-bottom:          -3px;
        background-color:       white;
    }


/***** Additional options for Responsive Web Design *****/

@media screen and (max-width: 1250px) {

    footer {
        display:            flex;
        flex-direction:     column;
        align-items:        center;
    }

    .miscLinks {
        position:           static; 
        justify-content:    center;
        padding-bottom:     1rem;
    }   
}      

</style>

<!-- HTML ------------------------------------------------------- -->
<footer>

    <div class="disclaimer">
        <img  class="banner" src="/src/assets/logos/silhouette_stuttgart_long.svg" alt="Silhouette of Stuttgart" />
        <Disclaimer />
    </div>

    <!-- OPTIONAL -->
    <div class="miscLinks">
        <a class="contributelink" href="https://github.com/eurovis27/web/blob/main/CONTRIBUTE.md" rel="noopener noreferrer external" target="_blank">Contribute</a>
        <a class="shoplink" href="https://shop.thelaend.de/index.php" rel="noopener noreferrer external" target="_blank">The Länd Fänshop</a>
    </div>    

</footer>
