---
import Disclaimer from '../components/disclaimer.md';
---

<!-- CSS -------------------------------------------------------- -->
<!-- Make it global to also have it applied to included components -->
<style is:global>

    footer {
        text-align:          center;
        background:          rgb(0, 0, 0);
    }

    .disclaimer {
        font-size:           0.9rem;
        color:               rgb(192, 192, 192);
        padding:             1rem;
        padding-right:       2rem;
    } 

    .disclaimer a {
        color:               rgb(192, 192, 192);
    }

    .disclaimer table {
        margin-left: auto;
        margin-right: auto;
    }     

</style>

<!-- HTML ------------------------------------------------------- -->
<footer>

    <div class="disclaimer">
        <Disclaimer />
    </div>

</footer>
