---
import Navigation from '../components/navigation.astro';

interface Props {
  pageTitle: string;
  fontColor: string;
}
const { pageTitle, fontColor } = Astro.props;
---

<!-- CSS -------------------------------------------------------- -->
<style define:vars={{ fontColor }}>   

    img {
        display:                block;
        width:                  100%;
        height:                 auto;
        margin:                 0;
        padding:                0;
        background-color:       var(--fontColor);
    }

    .headline {
        display:                block;
        margin:                 0;
        padding:                1rem;
        text-align:             center;             
        font-size:              3vw; 
        font-weight:            bold;
        color:                  black;
        background-color:       var(--fontColor);
    }

    /***** Additional options for Responsive Web Design *****/

    @media screen and (max-width: 720px) {

    }      

</style>

<!-- HTML ------------------------------------------------------- -->
<header>

    <div class="headline">Eurographics Conference on Visualization 2027</div>

    <img  src="/src/assets/banner_skyline-long.svg" alt="EuroVis27 Banner" />

    <Navigation pageTitle={pageTitle} fontColor={fontColor}/>

</header>