---
import Navigation from '../components/navigation.astro';

interface Props {
  title: string;
  fontColor: string;
}
const { fontColor } = Astro.props;
---

<!-- CSS -------------------------------------------------------- -->
<style define:vars={{ fontColor }}>   

    img {
        width:               100%;
        height:              auto;
        margin:              0;
        padding:             0;
        display:             block;
        background-color:    var(--fontColor);
    }

    .headline {
        font-size:           4vw; 
        color:               black;
        background-color:    var(--fontColor);
        text-align:          center;
        margin:              0;
        padding:             1rem;
        display:             block;
        font-weight:         bold;
    }

    /***** Additional options for Responsive Web Design *****/

    @media screen and (max-width: 1080px) {

    }
    

    @media screen and (max-width: 720px) {

    }      

</style>

<!-- HTML ------------------------------------------------------- -->
<header>

    <div class="headline">Eurographics Conference on Visualization 2027</div>

    <img  src="/src/assets/banner_skyline-long.svg" alt="EuroVis27 Banner" />

    <Navigation fontColor={fontColor}/>

</header>