---
import MiscButtons from '../components/misc-buttons.md';

interface Props {
  fontColor: string;
}

const { fontColor } = Astro.props;
---

<!-- CSS -------------------------------------------------------- -->
<style define:vars={{ fontColor }}>

    nav {
        min-height:          5rem;
        display:             flex;
        justify-content:     center;
        align-items:         center;        
        position:            relative;
        margin:              0;
        padding:             0;
        font-weight:         bold;
        background-color:    black;
        width:               100%;
        box-sizing:          border-box; 
    }

    .navMenu {
        font-size:           2rem;
        display:             flex;
        float:               center;   
        gap:                 1rem; 
    }

    .navMenu ul {
        display:             flex;
        gap:                 1rem;
        list-style:          none;
    }

    .navMenu a {
        padding:             0.25rem;
        color:               black;
        text-decoration:     none;
        background-color:    gray;
        transition-property: background-color, border-color; 
        transition-duration: 0.5s;
        border:              5px solid;
        border-color:       gray;
    }

    .navMenu a:hover, .navMenu a:focus {
        background-color:    var(--fontColor);
        border-color:        var(--fontColor);
    }

    .navMenu a.active {
        border-color:       var(--fontColor);
    }    

    .rightLinks {
        float:               right;
        display:             flex;
        position:            absolute;
        right:               1rem;
        gap:                 1rem;      
    }

    .rightLinks a {
        font-size:           1rem;
        color:               black;
        background-color:    gray;
        text-decoration:     none;
        transition-property: background-color; 
        transition-duration: 0.5s;        
    }

    .rightLinks a:hover, .rightLinks a:focus{
        background-color:    var(--fontColor);
    }  
    
    .contributelink {
        display:             inline-block;
        padding:             0.25rem;
        padding-left:        1.5rem;
        background:          url('../assets/logo_github.svg');
        background-repeat:   no-repeat;
        background-position: 0.25rem center;
        background-size:     1rem 1rem;
    }

    .shoplink {
        display:             inline-block;
        padding:             0.25rem;
        padding-left:        1.5rem;
        background:          url('../assets/logo_bw-lions.svg');
        background-repeat:   no-repeat;
        background-position: 0.25rem center;
        background-size:     1rem 1rem;
    }  

    .threeDashMenu {
        display:             none;
        float:               left;
        position:            absolute;  
        left:                1rem;
        cursor:              pointer;
        flex-direction:      column;
        gap:                 0.5rem;
        padding:             0.75rem;
        background-color:    black;        
        transition-property: background-color; 
        transition-duration: 0.5s;        
    } 

    .threeDashMenu:hover .threeDashMenu.focus {
        background-color:    gray;
    }    

    .bar {
        width:               3rem;
        height:              0.5rem;
        background-color:    var(--fontColor);              
    }

    .navMenuBackground .closeButton {
        display:             none;
    }

    /***** Additional options for Responsive Web Design *****/

    @media screen and (max-width: 1080px) {

    }

    @media screen and (max-width: 720px) {

        /* Switch menu to "three dash icon" and overlay */
        
        .threeDashMenu {
            display:         flex; 
        } 

        .closeButton {
            display:         block;
        }        

        .navMenuBackground { 
            height:           100%;
            width:            0;
            position:         fixed; 
            z-index:          1;
            left:             0;
            top:              0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
            overflow-x:       hidden; 
            transition:       0.5s;
        }

        .navMenuBackground .closeButton {
            display:         block;
            position:        absolute;
            top:             20px;
            right:           45px;
            font-size:       5rem;
            text-decoration: none;
            color:           gray;
        }        

        .navMenu {
            font-size:       1.5rem;
            display:         block;  
            position:        absolute;
            top:             25%; 
            left:            0rem;
            right:           2rem;
        }

        .navMenu ul {
            display:         block;
            gap:             1rem;
            list-style:      none;
            text-align:      left;
        }

        .navMenu a {
            display:         block;
            padding:         0.25rem;
            margin-bottom:   1rem;
        }
    } 

</style>

<!-- HTML ------------------------------------------------------- -->
<nav aria-label="Primary navigation">

    <div class="threeDashMenu" onclick="openOverlayMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <div class="navMenuBackground" id="navMenuBackground">
        
        <a href="javascript:void(0)" class="closeButton" onclick="closeOverlayMenu()">&times;</a>

        <div class="navMenu" id="navMenu">
            <ul>
                <li><a href={import.meta.env.BASE_URL}>HOME</a></li>
                <li><a href={import.meta.env.BASE_URL + "archive/"}>ARCHIVE</a></li>
            </ul>
        </div>
    </div>

    <div class="rightLinks">
        <a class="contributelink" href="https://github.com/eurovis27/web/blob/main/CONTRIBUTE.md" rel="noopener noreferrer external" target="_blank">Contribute</a>
        <a class="shoplink" href="https://shop.thelaend.de/index.php" rel="noopener noreferrer external" target="_blank">The Länd Fänshop</a>
    </div>
</nav>

<!-- JAVA SCRIPT ------------------------------------------------ -->
<script is:inline>

    document.querySelectorAll("nav a").forEach(link => {
        if (link.pathname === window.location.pathname) {
            link.classList.add("active");
        }
    });

    function openOverlayMenu() {
        document.getElementById("navMenuBackground").style.width   = "75%";
    }

    function closeOverlayMenu() {
        document.getElementById("navMenuBackground").style.width = "0%";
    }     

</script>