---
interface Props {
  fontColor: string;
}

const { fontColor } = Astro.props;
---

<!-- CSS -------------------------------------------------------- -->
<style define:vars={{ fontColor }}>


    nav {
        font-size:           1.75vw; /* % of viewport width*/   
        font-weight:         bold;
        text-align:          center;
        padding:             1rem;
        background-color:    black
    }

    a {
        padding:             1rem;
        color:               var(--fontColor);
        text-decoration:     none;
        background-color:    black;
        transition-property: color, background-color; 
        transition-duration: 0.5s;
    }

    a:hover {
        color:               black;
        background-color:    var(--fontColor);
    }

</style>

<!-- HTML ------------------------------------------------------- -->
<nav>
    <a href={import.meta.env.BASE_URL}>HOME</a>
    <a href={import.meta.env.BASE_URL + "archive/"}>ARCHIVE</a>
</nav>
