---
import MiscButtons from '../components/misc-buttons.md';

interface Props {
  fontColor: string;
}

const { fontColor } = Astro.props;
---

<!-- CSS -------------------------------------------------------- -->
<style define:vars={{ fontColor }}>

    nav {
        min-height:          5rem;
        display:             flex;
        justify-content:     center;
        align-items:         center;        
        position:            relative;
        margin:              0;
        padding:             0;
        font-size:           2rem;
        font-weight:         bold;
        background-color:    black;
        width:               100%;
        box-sizing:          border-box; 
    }

    .centerMenu {
        display:             flex;
        float:               center;
        flex-direction:      row;        
        gap:                 0.5rem;
        margin:              0.25rem;
        padding:             0.25rem;      
    }

    .centerMenu a {
        padding:             0.25rem;
        color:               black;
        text-decoration:     none;
        background-color:    gray;
        transition-property: background-color, border-color; 
        transition-duration: 0.5s;
        border:              5px solid;
        border-color:       gray;
    }

    .centerMenu a:hover {
        background-color:    var(--fontColor);
        border-color:        var(--fontColor);
    }

    .centerMenu a.active {
        border-color:       var(--fontColor);
    }    

    .rightMenu {
        float:               right;
        display:             flex;
        gap:                 0.5rem;
        position:            absolute;
        right:               1rem;
    }

    .rightMenu a {
        gap:                 0.25rem;
        font-size:           1rem;
        color:               black;
        background-color:    gray;
        text-decoration:     none;
        transition-property: background-color; 
        transition-duration: 0.5s;        
    }

    .rightMenu a:hover {
        background-color:    var(--fontColor);
    }  
    
    .contributelink {
        display:             inline-block;
        padding:             0.25rem;
        padding-left:        1.5rem;
        background:          url('../assets/logo_github.svg');
        background-repeat:   no-repeat;
        background-position: 0.25rem center;
        background-size:     1rem 1rem;
    }

    .shoplink {
        display:             inline-block;
        padding:             0.25rem;
        padding-left:        1.5rem;
        background:          url('../assets/logo_bw-lions.svg');
        background-repeat:   no-repeat;
        background-position: 0.25rem center;
        background-size:     1rem 1rem;
    }  

    .threeDashMenu {
        display:             none;
        float:               left;
        position:            absolute;  
        left:                1rem;                   
        cursor:              pointer;
        flex-direction:      column;
        gap:                 0.5rem;
        margin:              0.5rem;
        padding:             0.5rem;   
        background-color:    gray;        
        transition-property: background-color; 
        transition-duration: 0.5s;        
    } 

    .threeDashMenu:hover {
        background-color:    var(--fontColor);
    }    

    .bar {
        width:               3rem;
        height:              0.5rem;
        background-color:    black;
        margin:              0.1rem 0;               
    }



    /***** Additional options for Responsive Web Design *****/

    @media screen and (max-width: 1080px) {

    }
    

    @media screen and (max-width: 720px) {

        .centerMenu {
            display:         none;
        }

        .threeDashMenu {
            display:         flex; 
        } 
    }      

</style>

<!-- HTML ------------------------------------------------------- -->
<nav>

    <div class="threeDashMenu" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <div class="centerMenu" id="centerMenu">
        <a href={import.meta.env.BASE_URL}>HOME</a>
        <a href={import.meta.env.BASE_URL + "archive/"}>ARCHIVE</a>
    </div>

    <div class="rightMenu">
        <a class="contributelink" href="https://github.com/eurovis27/web/blob/main/CONTRIBUTE.md" rel="noopener noreferrer external" target="_blank">Contribute</a>
        <a class="shoplink" href="https://shop.thelaend.de/index.php" rel="noopener noreferrer external" target="_blank">The Länd Fänshop</a>
    </div>
</nav>

<!-- JAVA SCRIPT ------------------------------------------------ -->
<script is:inline>

    document.querySelectorAll("nav a").forEach(link => {
        if (link.pathname === window.location.pathname) {
            link.classList.add("active");
        }
    });

    function toggleMenu() {
        const menu = document.getElementById('centerMenu');
        menu.style.display = menu.style.display === 'flex' ? 'none' : 'flex';
    }

</script>